<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CRIAR PRODUTO</h1>
    <form action="/adicionar-produto" method="post">
        <label for="nome">Nome</label>
        <input id="nome" type="text" name="nome" placeholder="Digite o nome" />


        <label for="preco">Valor</label>
        <input id="preco" type="text" name="preco" placeholder="Digite o valor" />


        <button type="submit">Salvar</button>

    </form>
</body>
</html>